<div class="title">
    <h1>About company</h1>
</div>

<div class="content">
    <div class="about-us">
        Welcome to our cutting-edge IT company, where innovation meets efficiency to bring you the best technology
        solutions on the market. With a team of highly skilled professionals, we offer a wide range of services to meet
        all your technological needs, from software development and cybersecurity to cloud computing and artificial
        intelligence.

        At our company, we pride ourselves on delivering high-quality, customized solutions that are tailored to fit
        your specific requirements. Whether you are a small start-up or a large enterprise, we have the expertise and
        experience to help you succeed in today's fast-paced digital world.

        Our commitment to excellence is evident in everything we do, from our attention to detail in coding and
        programming to our dedication to customer service and satisfaction. We believe that technology should enhance,
        not hinder, your business operations, and we work tirelessly to ensure that our solutions are user-friendly,
        efficient, and reliable.

        So why settle for mediocre IT services when you can have the best? Join us today and experience the difference
        that our expert team can make in accelerating your business growth and success. Let us be your trusted partner
        in navigating the complexities of the digital landscape and achieving your goals with confidence and ease.
        Welcome to the future of IT solutions - welcome to our IT company.
    </div>

    <div class="carousel">
        <img [src]="images[currentIndex]" alt="Carousel Image">
        <div class="button-container">
            <button class="back" mat-icon-button (click)="showPrevious()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button class="next" mat-icon-button (click)="showNext()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="btn-container">
    <button mat-raised-button (click)="navigate()">Next</button>
</div>