mat-sidenav-container {
    display: flex;
    min-height: 100%;
    flex: 1;

    mat-toolbar {
        display: flex;
        justify-content: space-between;
        background-color: #31363F;

        .social-networks {
            display: flex;
            justify-content: end;
            gap: 10px;

            button {
                background-color: #EEEEEE;
                color: #31363F;
            }
        }

        button {
            color: #EEEEEE;
        }
    }

    mat-sidenav {
        min-width: 300px;
        background-color: #EEEEEE;
    }
}

mat-sidenav-content {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.content {
    background: url(../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // height: 100%;
    display: flex;
    flex: 1;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    .label {
        font-size: 24px;
        font-weight: 600;
        color: rgba($color: #000, $alpha: 0.6);
    }

    button {
        background-color: rgba($color: #000, $alpha: 0.6);
        color: #EEEEEE;
    }
}