@import './theme.scss';

html, body { height: 100%; }

html {
    overflow: hidden;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}
app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-sidenav-content {
    display: flex;
    flex: 1;
    height: 100%;
}